<a href="https://colab.research.google.com/github/ByoungChan-Park/Baekjoon/blob/main/Baekjoon_exercise_book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class 1

## 22.05.09 / Day_1
### repeat plob : 1157, 8958, 10809

In [10]:
#1000
num1, num2 = map(int,input().split())
print(num1+num2)

4 5
0.8

In [ ]:
#1001
num1, num2 = map(int,input().split())
print(num1-num2)

In [ ]:
#1008
num1, num2 = map(int,input().split())
print(num1/num2)

In [20]:
#1152
sentence = input().split()
print(len(sentence))

The first character is a blank
6

In [59]:
#1157
string = input().upper()
cnt = {}

for i in string:
  if i in cnt :
    cnt[i] += 1
  else :
    cnt[i] = 1

val = []
cnt_max = max(cnt.values())
for j, k in cnt.items():
  if k == cnt_max:
    val.append(j)

if len(val) > 1:
  print("?")
else :
  print("".join(val))

z
Z

In [72]:
#1157
word = input().upper()
cnt = {}

for i in word : 
  if i in cnt : 
    cnt[i] += 1
  else : 
    cnt[i] = 1

cnt_max = []

for j,k in cnt.items() : 
  if k == max(cnt.values()) : 
    cnt_max.append(j)

if len(cnt_max) > 1 :
  print("?")
else :
  print("".join(cnt_max))

zza
Z

In [80]:
#1330
A, B = map(int, input().split())

if A > B :
  print(">")
elif A < B :
  print("<")
else :
  print("==")

5 10
<

In [1]:
#1546
subject_cnt = int(input())
subject_score = list(map(float, input().split()))

fake_avg = []
for i in subject_score :
    fake_avg.append(i/max(subject_score)*100)

print(sum(fake_avg)/subject_cnt)

3
40 80 60

75.0

In [29]:
#2438
cnt = int(input())
for i in range(1,cnt+1):
  print('*'*i)

5
*
**
***
****
*****

In [30]:
#2439
cnt = int(input())
for i in range(1,cnt+1):
  print(' '*(cnt-i) +'*'*i)

5
    *
   **
  ***
 ****
*****

In [13]:
#2475
val = list(map(int, input().split()))

num = 0
for i in val :
  num += i**2

print(num%10)

0 4 2 5 6
1

In [33]:
#2562
num_list = []
for num in range(9) :
  num_list.append(int(input()))

print(max(num_list))
print(num_list.index(max(num_list))+1)

3
29
38
12
57
74
40
85
61
85
8

In [28]:
#2577
num_list = []
for number in range(3):
  num_list.append(int(input()))

multiply = str(num_list[0]*num_list[1]*num_list[2])

cnt_list = [0]*10

for i in multiply :
    cnt_list[int(i)] += 1

for i in cnt_list :
  print(i)

150
266
427
3
1
0
2
0
0
0
2
0
0

In [44]:
#2675
repeat = int(input())
for i in range(repeat):
    num, char = input().split()
    text = ''
    for i in char:
        text += int(num) * i
    print(text)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [49]:
#2739
num = int(input())
for i in range(1,10) :
  print(num, '*', i, '=', num*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [58]:
#2741
num = int(input())
for i in range(num) : 
    print(num-i)

5
5
4
3
2
1

In [60]:
#2753
num = int(input())
if (num % 4 == 0) & (num % 100 != 0) | (num % 400 == 0) :
  print(1)
else :
  print(0)

1999
0

In [3]:
#2884
hour, minute = map(int, input().split())

if hour < 1 :
  if minute < 45 : 
    print(23, minute+15)
  else :
    print(hour, minute-45)
elif minute < 45 :
    print(hour-1, minute+15)
else : 
    print(hour, minute-45)

0 55
0 10

In [88]:
#2908
num1, num2 = input().split()

num1 = int(num1[::-1])
num2 = int(num2[::-1])

print(max(num1, num2))

734 893
437

In [104]:
#2920
syllable_list = list(map(int, input().split()))

if syllable_list == sorted(syllable_list):
    print("ascending")
elif syllable_list == sorted(syllable_list, reverse = True):
    print("descending")
else :
    print("mixed")

1 2 3 4 5 6 7 8
ascending

In [122]:
#3052
A_list = []
for i in range(10) : 
    A_list.append(int(input()))

num_set = set()
for i in A_list:
    num_set.add(int(i) % 42)

print(len(num_set))

42
84
252
420
840
126
42
84
420
126
42
1

In [124]:
#8958
num = int(input())

for i in range(num) :
    OX_list=list(input())
    score = 0
    sum_score = 0
    for j in OX_list :
      if j =='O' :
        score += 1
        sum_score += score
      else : score = 0
    print(sum_score)

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX
30

In [ ]:
#9498
num = int(input())

if num > 89 :
  print("A")
elif num > 79 :
  print("B")
elif num > 69 :
  print("C")
elif num > 59 :
  print("D")
else : 
  print("F") 

# num = int(input())
# score= lambda x: 'A' if x > 89 else "B" if x > 79 else "C" if x > 69 else "D" if x > 59 else "F", num
# print(score(num))

In [141]:
#10171
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [143]:
#10172
print('|\\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [162]:
#10809
word = input()
alphaList = [chr(c) for c in range(ord('a'), ord('z')+1)]

for i in alphaList :
  if i in word : 
    print(word.index(i), end = ' ')
  else :
    print(-1, end = ' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [2]:
#10818
repeat = int(input())
nums = list(map(int, input().split()))
print(min(nums), max(nums))

5
30 27 25 5 7
5 30

In [5]:
#10869
A, B = map(int, input().split())
print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

7 3
10
4
21
2
1

In [6]:
#10871
N, X = map(int, input().split())
values = map(int, input().split())

for i in values :
  if i < X :
    print(i, end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [7]:
#10950
repeat = int(input())
for i in range(repeat) : 
  A, B = map(int, input().split())
  print(A + B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [1]:
#10951
try : 
  while True :
    A, B = map(int, input().split())
    print(A + B)
except : exit()

1 1
2
2 3
5

In [12]:
#10952
while True : 
  A, B = map(int,input().split())
  if A == 0 & B == 0 :
    break
  else : print(A + B)

1 1
2
2 3
5
0 0

In [1]:
#10998
A, B = map(int, input().split())
print(A*B)

1 2
2

In [5]:
#11654
char = input()
print(ord(char))

0
48

In [8]:
#11720
num1 = int(input())
num2 = input()
answer = 0

for i in num2 :
  answer = answer+int(i)
print(answer)

5
54321
15

# Class 2


## 22.05.10 / Day_2
### repeat plob :